body {
    margin: 0px;
}


ul {
    margin-left: auto;
    margin-right: auto;
}


li{
    float: left;
    margin-right: 50px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: solid;
    border-bottom-color:white ;
    color: aliceblue;
}


#head {
    background-color: black;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}


#body {
    background-color: black;
    width: 100%;
    height: 900px;
    padding-top: 1px;
    padding-bottom: 10px;
}


#bottom {
    background-color: #4e4e4e;
    height: 100px;
}


#menu {
    background: transparent;
    width: 700px;
    height: 50px;
    float: right;
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-right: 25px;
}


#logo {
    width: 380px;
    height: 130px;
    padding-top: 0px;
    margin-left: 25px;
    float: left;
    background: transparent;
}


.sub {
    background-color: #c3c3c3;
    width: 95%;
    height: 270px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 1%;
}


.sub_3x {
    background-color: beige;
    width: 32.3%;
    height: 100%;
    margin-right: 10px;
    display: inline-block;
}


.imgs {
width: 100%;
height: 100%;
}


.sub_long {
    background-color: #757575;
    width: 64%;
    height: 100%;
    display: inline-block;
}


.sub_short {
    background-color: #757575;
    width: 33%;
    height: 100%;
    display: inline-block;
}


